.container__small-card {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  min-width: 400px;
  width: 50%;
}

.small-card__image img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}