.container__main-card {
  align-items: flex-start;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: flex-start;
  margin: 0 10px;
  width: 500px;
}

.main-card__image {
  width: 100%;
  min-width: 400px;
}

.main-card__image > img {
  width: 100%;
}
.main-card__title h1 {
  margin: 20px 0;
  font-size: 20px;
}

.main-card__description p {
  color: gray;
}