.container__menu-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__menu-bar ul li{
  /* display: flex; */
  list-style-type: none;
  flex-direction: row;
  margin-right: 10px;
}